{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/menuprincipal.css' %}" >
   
    <title>Menu Principal</title>
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="#"></a>Home</li>
            <li><a href="#"></a>Sobre</li>
                <li><a href="#"></a>O que fazemos?
                    <ul>
                        <li><a href="#"></a>web design</li>
                        <li><a href="#"></a>SEO</li>
                        <li><a href="#"></a>Design</li>
                    </ul>
                </li>
            <li><a href="#"></a>Home</li>
            <li><a href="#"></a>Sobre</li>
        </ul>
    </nav>    
</body>
</html>