<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <br>
        <a href="{% url 'cadastro_cliente' %}">Novo Cliente</a>
    <br>
        <a href="{% url 'menu' %}">Voltar ao Menu Pricipal</a>
    <ul>
        {% for listcli in listaclientes %}
        
            <li>
                <a href="{% url 'clientes_update' listcli.cli_id %}">{{ listcli.cli_nome }}</a>
                <a href="{% url 'cliente_delete' listcli.cli_id %}">Deletar</a>
            </li>

        {% endfor %}
    </ul>
    
</body>
</html>