
{% extends 'base.html' %}
{% block title %}Pedidos{% endblock %}

{% block main %}
<nav role="navigation" class="navbar-default">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <i class="material-icons">menu</i>
                <span class="sr-only">Navegar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Pedidos Cliente</a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">                
                <li><a class="dropdown-item" href="{% url 'lista_cliente' %}">Lista de Clientes</a></li>
                <li><a class="dropdown-item" href="{% url 'lista_produtos' %}">Lista de Produtos</a></li>
                <li><a class="dropdown-item" href="{% url 'lista_estoque' %}">Lista de Estoque</a></li>                 
                <li><a class="dropdown-item" href="{% url 'cadastro_cliente' %}">Cadastro de Clientes</a></li>
                <li><a class="dropdown-item" href="{% url 'cadastro_produto' %}">Cadastro de Produtos</a></li>
                <li><a class="dropdown-item" href="{% url 'cadastro_estoque' %}">Entrada de Estoque</a></li>
                <li><a class="dropdown-item" href="{% url 'menu' %}">Voltar ao Menu Principal</a></li>                 
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
            </ul>
        </div>
    
    </nav>
<form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type= "submit" class= "btn btn-info">Salvar</button>
</form>
{% endblock %}
