{% extends 'base.html' %}
{% block title %}Estoque {% endblock %}

{% block main %}
  <nav role="navigation" class="navbar-default">
      <div class="navbar-header">
          <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <i class="material-icons">menu</i>
              <span class="sr-only">Navegar</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Lista de Produtos em Estoque</a>
      </div>
      <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                
              <li><a class="dropdown-item" href="{% url 'lista_estoque' %}">Lista de Estoque</a></li>                 
              <li><a class="dropdown-item" href="{% url 'cadastro_estoque' %}">Entrada de Estoque</a></li>
              <li><a class="dropdown-item" href="{% url 'pedido_cliente' %}">Pedidos</a></li>                  
              <li><a class="dropdown-item" href="{% url 'cadastro_produto' %}">Novo Produto</a></li>
              <li><a class="dropdown-item" href="{% url 'menu' %}">Voltar ao Menu Principal</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
          </ul>
      </div>
  
  </nav>

    <ul>
        {% for estq in  listaestoque %} 
            <li>{{estq.est_id}} {{ estq.est_qtd }}</li>
        {% endfor %}
    </ul>

{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Bionic-Techo-info Ltda - Todos os direitos reservados
                <i class="fas fa-registered"></i>
            </span>     
        </div>
       
    </footer>
{% endblock %}
