<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de produtos</title>
</head>
<body>
    <ul>
        {% for prod in listaprodutos %}
            <li>
                <a href="{% url 'produto_update' prod.pr_id %}">{{ prod.pr_id }} {{prod.pr_descricao}} {{ prod.pr_preco }}</a>
                <a href="{% url 'produto_delete' prod.pr_id %}">Deletar</a>
            </li>
        {% endfor %}
    </ul>
        <a href="{% url 'cadastro_produto' %}">Novo Produto</a>
        <br>
        <a href="{% url 'menu' %}">Voltar ao Menu Principal</a>
</body>
</html>
