{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css"  href="static/css/estilo.css" />
    <script src="main.js"></script>
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">Sobre</a></li>
                <li><a href="#">Listas</a>
                    <ul>
                        <li><a href="{% url 'lista_cliente' %}">Lista de Clientes</a><br></li>
                        <li><a href="{% url 'lista_produtos' %}">Lista de Produtos</a><br></li>
                        <li><a href="{% url 'lista_estoque' %}">Lista de Estoque</a><br></li> 
                    </ul>
                <li><a href="#">Cadastros</a>
                    <ul>
                        <li><a href="{% url 'cadastro_cliente' %}">Cadastro de Clientes</a><br></li>
                        <li><a href="{% url 'cadastro_produto' %}">Cadastro de Produtos</a><br></li>
                        <li><a href="{% url 'cadastro_estoque' %}">Entrada de Estoque</a><br></li>
                        <li><a href="{% url 'pedido_cliente' %}">Pedidos</a></li>                  
                    </ul>
                </li>
            <li><a href="#">Links</a></li>
            <li><a href="#">Contato</a></li>                
        </ul>
    </nav>    
</body>
</html>

